.App {
  height:500px;
  overflow:scroll;
}

/*.cell:focus, .inner-cell:focus {
  outline: none;
 }

 .cell:focus > .inner-cell {
   outline: 1px solid red;
 }*/

table {
  border-collapse: collapse;
  
}

td {
  text-align: center;
}

th, td {
  padding: 5px;
  
}

tr:nth-child(2) {
  padding: 10px;
  
}



.table-close-window-icon:hover {
  color:black;
}

table {

  
    table-layout: fixed;
    width: 100%;
    
    border-collapse: collapse;
    border: 1px 	#EFF0F4 solid;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  thead th{
    position:sticky;
    top:0;
    border-bottom: 1px black solid;
  }

  thead th:nth-child(1) {
    width: 28%;

   
  }
  
  thead th:nth-child(2) {
    width: 23%;
  }
  
  thead th:nth-child(3), thead th:nth-child(4) {
    width: 15%;
  }

 
  thead th:nth-child(5),   thead th:nth-child(6), thead th:nth-child(7) {
      width:30%;
  }

  thead th:nth-child(8) {
    width:30%;
  }

  tbody tr:nth-child(even) {
   
  }
  
  th {
      letter-spacing: 1px;
      background-color: white;
      color: black;
      
      
  }
  
 
  
  

  tr td{
    line-height: 3.5rem;
  }
  
 


